.nav
  %h3.nav-title Conteúdo
  %a.nav-close{href: '#'}
    %span.hidden Fechar
  %ul
    - navigation.try(:each) do |label, href|
      - css_class = %W(nav-#{label.parameterize})
      - css_class << "nav-current" if current_page.url == href
      %li{class: css_class.join(' '), role: :presentation}
        %a{href: href}= label
  %a.subscribe-button.icon-feed{href: feed_path} Inscreva-se
%span.nav-cover
